@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.nav-bar {
    background-color: #1f2937;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-bar-content {
    
    font-size: 24px;
    font-weight: 600;
    color: white;
    display: flex;
    
}

.nav-bar-links {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

